button, 
input,
textarea {
  background-color: get-color(form-field-bg);
  border: 1px solid get-color(form-field-border);
  border-radius: 0;
  box-sizing: border-box;
  color: get-color(form-field);
  font-size: get-size(font-base);
  font-family: get-font(form-field);
  padding: get-size(gutter-compact)/2 get-size(gutter-compact)*0.75;
  transition: border-color 0.25s;

  &:focus {
    border-color: get-color(form-field-border-focus);
    outline: none;
  }
}

input, 
textarea {
  width: 100%;

  .has-error & {
    border-color: get-color(form-field-error);
  }
}

label {
  color: get-color(form-field-label);
  display: block;
  margin: get-size(gutter-compact) 0 get-size(gutter-compact)/2;
  padding: 0 get-size(gutter-compact)*0.75;
  transition: color 0.25s;

  .has-error & {
    color: get-color(form-field-error);
  }
}

textarea {
  display: block;
  height: (get-size(font-base)*1.4) * 5 + get-size(gutter-compact);
  line-height: 1.4;
}