a {
  color: get-color(body-copy);
}

h1, h2, h3, h4 {
  font-family: get-font(heading);
  text-transform: uppercase;
  line-height: get-size(font-line-height-heading);
  margin: get-size(gutter-compact) 0;
}

p {
  &:last-child {
    margin-bottom: -0.25rem;
  }
}