$d-uses: (
  font-base: 1rem,
  font-h2: 1.5rem,
  font-line-height: 1.4,
  font-line-height-heading: 1.2,

  gutter-compact: 1rem,
  gutter: 2rem,

  logo-height-compact: px-rem(32px),
  logo-height: px-rem(48px),

  logo-text-height: px-rem(40px),
);
